@model IEnumerable<MadhuriPortfolio.Models.Education>

@{
    ViewData["Title"] = "Education";
}

<section class="education">
    <h2>Education</h2>
    <ul>
        @foreach (var education in Model)
        {
            <li>
                <h3>@education.Degree</h3>
                <p>@education.Institution</p>
                <p><strong>Date:</strong> @education.Date</p>
                <p><strong>CGPA:</strong> @education.CGPA</p>
            </li>
        }
    </ul>
</section>
